<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozy House | Pet shelter</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/owl.carousel.css">
</head>

<body>
    <div class="section1">
        <div class="container">
            <%- include("partials/header.ejs") %>
            <!-- <div class="container-banner"> -->
            <h1>Not only people <br>
                need a house</h1>
            <p class="color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida <br>
                est in porttitor porttitor. Duis sodales elementum ipsum, vehicula <br>
                condimentum erat fringilla et.</p>
            <!-- <a href="#"> -->
            <button>Make a friend</button>
            <!-- </a> -->
            <!-- </div> -->
            <!-- <div class="container-banner-dog">
                    <img class="banner-dog" src="./img/img-main/Background-dog.png" alt="Dog">
                </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="section2">
        <div class="container">
            <img class="section2-pets" src="./img/img-main/Pets.png" alt="Cat-and-dog">
            <div class="content">
                <h2>About the shelter <br>
                    “Cozy House”</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce <br>
                    efficitur blandit condimentum. Proin accumsan lorem vel gravida <br>
                    fringilla. Suspendisse potenti. Mauris ut pulvinar nunc.</p>
                <p>Donec consectetur, diam in porta tempus, urna ligula vestibulum <br>
                    nibh, ac ornare felis justo nec leo. Praesent mattis nibh quis <br>
                    ultrices pharetra. Morbi tempus at ante sit amet tristique. <br>
                    Maecenas dignissim justo orci, in laoreet urna dapibus nec. <br>
                    Praesent quis tortor faucibus, tristique ante vitae, dignissim <br>
                    lorem. Sed at ligula et sem mattis gravida ac vel erat. </p>
            </div>
        </div>
    </div>
    <div class="section3">
        <div class="container">

            <div class="h2-sec3">
                <h2>Our friends who <br>
                    are looking for a house</h2>
            </div>

            <div class="all-pets owl-carousel">
                <div class="pet">
                    <img src="./img/img-main/Cat-Kathrine.png" alt="Cat-Katrine">
                    <span class="pets-name">Katrine</span>
                    <a href="#">
                        <button class="learn-more-button">Learn More</button>
                    </a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Jennifer.png" alt="Dog-Jennifer">
                    <span class="pets-name">Jennifer</span>
                    <a href="/pet"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Woody.png" alt="Dog-Woody">
                    <span class="pets-name">Woody</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Sophia-puppy.png" alt="Sophia-puppy">
                    <span class="pets-name">Sophia</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Cat-Timmy.png" alt="Cat-Timmy">
                    <span class="pets-name">Timmy</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Charly.png" alt="Dog-Charly">
                    <span class="pets-name">Charly</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Scarlett.png" alt="Scarlett-dog">
                    <span class="pets-name">Scarlett</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Cat-Freddie.png" alt="Cat-Freddie">
                    <span class="pets-name">Freddie</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
            </div>
            <a href="#">
                <button class="rest-button">Get to know the rest</button>
            </a>
        </div>
    </div>
    <div class="section4">
        <div class="container">
            <div class="h2-sec4">
                <h2>Than you can help <br>
                    our shelter</h2>
            </div>
            <div class="all-icons">
                <div class="icon">
                    <img src="./img/img-main/pet-food.png" alt="Pet-Food">
                    <span class="icon-name">Pet food</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/transportation.png" alt="Transportation">
                    <span class="icon-name">Transportation</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/toys.png" alt="Toys">
                    <span class="icon-name">Toys</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/bowl.png" alt="Bowls-and-cups">
                    <span class="icon-name">Bowls and cups</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/shampoo.png" alt="Shampoos">
                    <span class="icon-name">Shampoos</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/vitamins.png" alt="Vitamins">
                    <span class="icon-name">Vitamins</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/medicines.png" alt="Medicines">
                    <span class="icon-name">Medicines</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/leash.png" alt="Collars/leashes">
                    <span class="icon-name">Collars / leashes</span>
                </div>
                <div class="icon">
                    <img src="./img/img-main/sleep.png" alt="Sleeping-area">
                    <span class="icon-name">Sleeping area</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section5">
        <div class="container">
            <img class="section5-dog" src="./img/img-main/Dog(5).png" alt="Dog">
            <div class="content">
                <h2>In addition, you <br>
                    can make a donation</h2>
                <span>Name of the bank / Type of bank account</span>
                <div class="card-number">
                    <img src="./img/img-main/credit-card.png" alt="Credit-Card">
                    <span>8380 2880 8028 8791 7435</span>
                </div>
                <p>Legal information and lorem ipsum dolor sit amet, consectetur <br>
                    adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed <br>
                    ac diam. Praesent ultrices maximus tortor et vulputate. Interdum <br>
                    et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script>
        // document.ready - относится ко всем скриптам, то есть следующие скрипты писать в этом вложении. Document.ready говорит о том, что скрипты будут выполняться после полной загрузки основных элементов страницы и подключаемых скриптов и стилей.
        $(document).ready(function () {
            // инициализация слайдера (применяются его сборка и настройки)
            $('.owl-carousel').owlCarousel({
                loop: true,
                nav: true,
                items: 3,
                // margin: 100,
                dots: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        dots: true,
                    },
                    750: {
                        items: 2,
                        // nav: false,
                    },
                    900: {
                        items: 2,
                        // nav: false,
                    },
                    1050: {
                        items: 3
                    },

                }
            })
            // событие наведения на карточку pet
            $(".learn-more-button")
                .mouseover(function () {
                    // навели курсор на объект 
                    $(this).parent().parent().addClass("hovered")
                    console.log("it works")
                    console.log($(this).parent())
                })
                .mouseout(function () {
                    $(this).parent().parent().removeClass("hovered")
                    // отвели курсор с объекта
                })

            // мобильное меню

            var burger = document.querySelector('.burger-container'),
                header = document.querySelector('.header-mobile');

            burger.onclick = function () {
                header.classList.toggle('menu-opened');
            }

        })
    </script>
</body>

</html>