<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our shelter pets</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="header-wrap">
        <%- include("partials/header.ejs") %>
    </div>
    <!-- end header -->
    <div class="pets-page-wrap">
        <div class="container">
            <div class="h1-pets">
                <h1>Our friends who <br>
                    are looking for a house</h1>
            </div>
            <div class="all-pets">
                <div class="pet">
                    <img src="./img/img-main/Cat-Kathrine.png" alt="Cat-Katrine">
                    <span class="pets-name">Katrine</span>
                    <a href="#">
                        <button class="learn-more-button">Learn More</button>
                    </a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Jennifer.png" alt="Dog-Jennifer">
                    <span class="pets-name">Jennifer</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Woody.png" alt="Dog-Woody">
                    <span class="pets-name">Woody</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Sophia-puppy.png" alt="Sophia-puppy">
                    <span class="pets-name">Sophia</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Cat-Timmy.png" alt="Cat-Timmy">
                    <span class="pets-name">Timmy</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Charly.png" alt="Dog-Charly">
                    <span class="pets-name">Charly</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Dog-Scarlett.png" alt="Scarlett-dog">
                    <span class="pets-name">Scarlett</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
                <div class="pet">
                    <img src="./img/img-main/Cat-Freddie.png" alt="Cat-Freddie">
                    <span class="pets-name">Freddie</span>
                    <a href="#"><button class="learn-more-button">Learn More</button></a>
                </div>
            </div>
            <div class="pets-pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">10</a>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="./js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".learn-more-button")
                .mouseover(function () {
                    $(this).parent().parent().addClass("hovered")
                    console.log("it works")
                    console.log($(this).parent())
                })
                .mouseout(function () {
                    $(this).parent().parent().removeClass("hovered")
                })

            // мобильное меню
            var burger = document.querySelector('.burger-container'),
                header = document.querySelector('.header-mobile');

            burger.onclick = function () {
                header.classList.toggle('menu-opened');
            }

        })
    </script>
</body>