<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <%- include("partials/test-nav.ejs") %>

    <h2><%=h2 %></h2>

    <div class="slider owl">
        <ul>
            <% for(var i=0; i < sliderVarEjs.length; i++ ) {%>
                <li><%=sliderVarEjs[i] %></li>
            <%} %>
        </ul>
     
       
      
    </div>
</body>
</html>