/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

body {
   font-family: Georgia, 'Times New Roman', serif;
}

.section1 {
   display: flex;
   height: 924px;
   background: url(../img/img-main/Back-Dog.png);
   background-repeat: no-repeat;
   background-size: cover;
   /* background: url(../img/img-main/Background-dog.png), url(../img/img-main/Background.png);
   background-repeat: no-repeat, no-repeat;
   background-size: 75%, cover;
   background-position: 105% -1%, top left; */
   justify-content: center;
}

.container {
   width: 1170px;
}

.header {
   display: flex;
   margin-top: 60px;
   justify-content: space-between;
}

.logo {
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 32px;
   letter-spacing: 0.6px;
   color: #f1cdb3;
}

.logo span {
   display: block;
   width: 100%;
   margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   letter-spacing: 1px;
   color: #ffffff;
}

.nav {
   display: flex;
}

.nav a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #cdcdcd;
   text-decoration-line: none;
   margin-left: 40px;
   height: 20px;
}

.nav a:first-child {
   margin-left: 0%;
}

.nav a:hover {
   color: #ffffff;
   border-bottom: 3px solid #f1cdb3;
}

h1 {
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 44px;
   color: #ffffff;
   margin-top: 250px;
   line-height: 55px;
   letter-spacing: 0.6px;
}

h2 {
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 35px;
   color: #545454;
   line-height: 45px;
   letter-spacing: 0.6px;
}

p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #4c4c4c;
   line-height: 24px;
}

.color-white {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #cdcdcd;
   line-height: 25px;
   margin-top: 20px;
}

button {
   background-color: rgb(241, 205, 179);
   width: 205px;
   height: 52px;
   border: rgb(241, 205, 179) solid 2px;
   border-radius: 26px;
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 17px;
   letter-spacing: 0.6px;
   color: #292929;
   margin-top: 40px;
   cursor: pointer;
}

/* .container-banner {
   display: flex;
}

.container-banner-text {
   width: 50%;
}

.container-banner-dog {
width: 50%;
overflow: hidden;
}

.banner-dog {
   position: relative;
    right: 360px;
    width: 1200px;
} */

.section2 {
   display: flex;
   padding-top: 90px;
   padding-bottom: 90px;
   justify-content: center;
}

.section2 .container {
   display: flex;
   justify-content: center;
}

.section2 .content {
   margin-left: 115px;
   margin-top: 20px;
}

.section2 .content p {
   margin-top: 30px;
   margin-bottom: 30px;
}

.section3 {
   display: flex;
   justify-content: center;
   background-color: #f6f6f6;
   padding-bottom: 60px;
   padding-top: 70px;
}

/* .section3 .container {
   display: flex;
   justify-content: center;
} */

.h2-sec3 {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
   text-align: center;
}

.all-pets {
   display: flex;
   justify-content: space-between;
   padding: 0px 130px;
}

.pet {
   background-color: #fafafa;
   margin-right: 10px;
   width: 270px;
   height: 425px;
   border-radius: 10px;
}

.pet img {
   height: 270px;
}

.pets-name {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   letter-spacing: 0.6px;
   color: #545454;
   display: block;
   text-align: center;
   margin-top: 23px;
}

.learn-more-button {
   background-color: #fafafa;
   width: 188px;
   height: 52px;
   border: rgb(241, 205, 179) solid 2px;
   border-radius: 26px;
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 17px;
   letter-spacing: 0.6px;
   color: #292929;
   margin-top: 25px;
   cursor: pointer;
}

.pet a {
   display: block;
   text-align: center;
}

.section3 a {
   display: block;
   text-align: center;
}

.rest-button {
   background-color: rgb(241, 205, 179);
   width: 267px;
   height: 52px;
   border: rgb(241, 205, 179) solid 2px;
   border-radius: 26px;
   font-family: Georgia, 'Times New Roman', serif;
   font-size: 17px;
   letter-spacing: 0.6px;
   color: #292929;
   margin-top: 65px;
   cursor: pointer;
}

.section4 {
   display: flex;
   padding-top: 70px;
   padding-bottom: 80px;
   justify-content: center;
   background-color: #fafafa;
}

.h2-sec4 {
   display: flex;
   justify-content: center;
   text-align: center;
}

.all-icons {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.icon { 
   width: 20%;
   text-align: center;
   margin-top: 70px; 
}

.icon img {
   height: 60px;
}

.icon-name {
   display: block;
   text-align: center;
   margin-top: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   letter-spacing: 0.6px;
   color: #545454;
}

.section5 {
   display: flex;
   padding-top: 60px;
   padding-bottom: 80px;
   justify-content: center;
   background-color: #f6f6f6;
}

.section5 .container {
   display: flex;
   justify-content: center;
}

.section5-dog {
   width: 505px;
   height: 261px;
   position: relative;
   right: 50px;
   top: 30px;
}

.section5 .content {
   margin-right: 170px;
}

.section5 .content>span {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
   letter-spacing: 0.6px;
   color: #545454;
   margin: 20px 0px 15px 0px;
   display: block;
}

.card-number {
   width: 319px;
   height: 47px;
   background-color: #f1cdb3;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-number span {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   letter-spacing: 0.6px;
   color: #292929;
   margin-left: 12px;
}

.section5 .content p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   line-height: 18px;
   color: #b2b2b2;
   font-style: italic;
   margin-top: 30px;
}

.footer {
   display: flex;
   background: url(../img/img-main/Background-footer.png);
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
}

.footer .container {
   display: flex;
   justify-content: space-between;
}

.col-1 span, .col-2 span {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 35px;
   letter-spacing: 0.6px;
   color: #ffffff;
   display: block;
   margin-top: 70px;
}

.col-1 .e-mail, .col-1 .phone, .col-2 .loc-1, .col-2 .loc-2 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   letter-spacing: 0.6px;
   color: #f1cdb3;
   margin-top: 30px;
   display: flex;
   align-items: center;
}

.e-mail:before {
   content: "";
   display: inline-block;
   background: url(../img/img-main/envelope.png) no-repeat;
   width: 40px;
   height: 26px;
   margin: 0px 20px 0px 0px;
}

.phone:before {
   content: "";
   display: inline-block;
   background: url(../img/img-main/telephone.png) no-repeat;
   width: 40px;
   height: 32px;
   margin: 0px 20px 0px 0px;
}

.loc-1:before, .loc-2:before {
   content: "";
   display: inline-block;
   margin: 0px 20px 0px 0px;
   background: url(../img/img-main/pin.png) no-repeat;
   width: 26px;
   height: 36px;
}

.footer img {
   width: 300px;
   height: 317px;
   margin-top: 44px;
}
